* {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	outline: 0;
	list-style: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Open Sans Condensed', 'Arial', sans-serif;
	background-color: #eee;
}

.textocentral {
	position: relative;
	width: 37.4em;
	margin: 10em auto;
	color: #000
}

.inform {
	position: relative;
	width: 2em;
	margin: 1em auto;
}

.git {
	width: 2em;
}

h1 {
	font-size: 5em;
}

hr {
	position: relative;
	width: 100%;
}