* {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	outline: 0;
	list-style: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Open Sans Condensed', 'Arial', sans-serif;
	background-color: #eee;
}

.textocentral {
	position: relative;
	width: 37.4em;
	margin: 10em auto;
	color: #000
}

.inform {
	position: relative;
	width: 2em;
	margin: 1em auto;
}

.git {
	width: 2em;
}

.hr-left {
	position: absolute;
	left: 0;
	width: 60%;
}

.hr-right {
	position: absolute;
	right: 0;
	width: 60%;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 1.5em;
}

hr {
	position: relative;
	width: 100%;
}

footer {
	position: fixed;
	z-index: 5;
	bottom: 0.5em;
	height: 8em;
	width: 100%;
	text-align: center;
}

footer a:link, a:visited {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

footer a:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

footer img { margin-top: 0.8em; }

@media screen and (max-width: 720px) {
	.textocentral {
		width: 22.41em;
		margin: 1em auto;
	}
	
	h1 {
		font-size: 3em;
	}

	footer img { width: 32px; right: 37.5px; }

	footer {
		bottom: 0.5em;
		height: 5.5em;
	}
}

@media screen and (max-width: 480px) {
	.textocentral {
		width: 15em;
		margin: 2em auto;
	}
	
	h1 {
		font-size: 3.5em;
		text-align: center;
	}
}